.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 175px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.App-desc {
  font-size: x-small;
  font-weight: normal;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#proverb {
  margin: 20px;
  line-height: 30px;
}

#first, #second {
  border-radius: 3px;
  padding: 5px;
}

#first {
  background-color: #D9001E;
  color: white;
}

#second {
  background-color: #4FB300;
  color: black;
}

#new {
  margin-top: 25px;
}

#rater {
  margin-top: 15px;
  border: 1px dashed darkgray;
  margin: 20px auto;
  padding: 10px;
  color: dimgray;
  font-size: 12px;
}

#rater .container {
  height: 168px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#rater img {
  width: 245px;
  margin: 10px;
  cursor: pointer;
}

#rater #thanks {
  cursor: default;
}